[Unit]
Description=Socket for baikonur connections
PartOf=baikonur.service

[Socket]
ListenStream=127.0.0.1:7777
Accept=true

[Install]
WantedBy=sockets.target
